<div id="root"></div>
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

<script type="text/javascript">
    const rootElement = document.getElementById('root');
    const element = React.createElement(
        'div', {
            className: 'container',
            children: 'Hello world'
        }
    );

    console.log(element);
    ReactDOM.render(element, rootElement);
</script>